<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZUART.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZUART.Properties.Settings>
            <setting name="cbbComList" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="cbbBaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="cbbDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="cbbStopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cbbParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="txtSendData" serializeAs="String">
                <value>ZUART</value>
            </setting>
            <setting name="chkAutoLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkShowTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkRecSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkfromFileSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkAutoAddSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkAutoCleanSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkAutoSend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtAutoSendms" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="rbtnHex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbtnASCII" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbtnUTF8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbtnUnicode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbtnSendHex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbtnSendASCII" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbtnSendUTF8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rbtnSendUnicode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Text0" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Hex0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Text1" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text2" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text3" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text4" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text5" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text6" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text7" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text8" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text9" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text10" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text11" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text12" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text13" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text14" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text15" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text16" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text17" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text18" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text19" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text20" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text21" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text22" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text23" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text24" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text25" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text26" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text27" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text28" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text29" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text30" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text31" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text32" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text33" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text34" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text35" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text36" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text37" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text38" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text39" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text40" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text41" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text42" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text43" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text44" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text45" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text46" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text47" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text48" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Text49" serializeAs="String">
                <value />
            </setting>
            <setting name="ListSend_Hex1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex17" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex19" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex20" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex21" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex22" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex23" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex24" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex25" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex26" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex27" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex28" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex29" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex30" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex31" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex32" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex33" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex34" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex35" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex36" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex37" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex38" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex39" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex40" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex41" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex42" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex43" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex44" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex45" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex46" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex47" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex48" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListSend_Hex49" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkTrans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="menuItemSendKey1" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="menuItemSendKey2" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="menuItemSendKey3" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="menuItemSendKey4" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="BatchSendList" serializeAs="String">
                <value />
            </setting>
        </ZUART.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
